[submodule "Equalizer"]
	path = Equalizer
	url = https://github.com/rttag/Equalizer.git
	branch = RELEASE_2026x
[submodule "Collage"]
	path = Collage
	url = https://github.com/rttag/Collage.git
	branch = RELEASE_2026x
[submodule "Lunchbox"]
	path = Lunchbox
	url = https://github.com/rttag/Lunchbox
	branch = RELEASE_2026x
[submodule "vmmlib"]
	path = vmmlib
	url = https://github.com/rttag/vmmlib.git
	branch = 1.6_RELEASE_2026x
[submodule "GLStats"]
	path = GLStats
	url = https://github.com/rttag/GLStats
	branch = RELEASE_2026x
[submodule "cmake"]
	path = cmake
	url = ssh://git@eu-muc-git01.ux.dsone.3ds.com:7999/build/cmake.git
	branch = ARTIFACTORY_VS2022
