[submodule "Equalizer"]
	path = Equalizer
	url = https://github.com/rttag/Equalizer.git
[submodule "Collage"]
	path = Collage
	url = https://github.com/rttag/Collage.git
[submodule "Lunchbox"]
	path = Lunchbox
	url = https://github.com/rttag/Lunchbox
[submodule "vmmlib"]
	path = vmmlib
	url = https://github.com/VMML/vmmlib.git
[submodule "GLStats"]
	path = GLStats
	url = https://github.com/rttag/GLStats
[submodule "cmake"]
	path = cmake
	url = git@mucdev01:cmake
	branch = ARTIFACTORY
